.input-wrapper{
 width: 100%;
 font-size: 18px;
 margin: 5px 0;
 color: #454444;
}

.input-wrapper input, .input-wrapper textarea{
    border: 2px solid #c9c8c8;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
}
ul::-webkit-scrollbar{
    position: absolute;
    width: 2px;
    overflow-x:visible;
}
ul::-webkit-scrollbar-thumb{
    width: 1px;
    background: #2727275b;
    border-radius: 5px;
}